body {
    /* height of the nav bars */
    margin-top: 56px;
    margin-bottom: 56px;
}

img {
    /* fit browser window*/
    max-width: 100%;
}

#marcus-profile-img, #caleb-profile-img, #jacob-profile-img, #mo-profile-img {
    transform: scale(0.90);
}

#marcus-profile, #caleb-profile, #jacob-profile {
    margin-right: 10px;
}

#caleb-profile-img {
    margin-bottom: 51px;
}

#jacob-profile-img, #mo-profile-img {
    margin-bottom: 146px;
}

#main-ui {
    padding-bottom: 56px;
}

.scrollspy {
    max-height: window;
}

#list-headers {
    position: static;
    max-width:15%;
}

#scroll-zone {
    margin-left: 15%;
    /* max-height: 450px; */
    max-height: 70%;
    overflow-y: auto;
    padding-bottom:115px;
    position: absolute;
}